.Login {
  display: grid;
  align-items: center;
  place-content: center;
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
}

.Login .form {
  text-align: center;
}

.Login input:focus-visible {
  outline: none
}

.Login input {
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.1px solid;
  width: 100%;
  font-size: clamp(17px, 12vh, 19px);
  text-align: center;
  color: #008700;
  font-weight: 700;
  margin: 8px 0;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

.Login input::placeholder {
  color: #008700;
}

.Login button {
  background: transparent;
  color: #008700;
  font-size: 18px;
  font-weight: 700;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

.Login button:hover {
  cursor: pointer;
}

.Login button:disabled:hover {
  cursor: default;

}

.Login button:disabled {
  background: transparent;
  border: none;
  color: #000;
  user-select: none;
}

:root {
  --font-color: #008700;
  --typewriterSpeed: 2s;
  --typewriterCharacters: 4;
}

.Login h1 {
  text-align: center;
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
  margin: auto;
  color: var(--font-color)
}

.Login h1::before,
.Login h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Login h1::before {
  background: #000;
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.Login h1::after {
  width: 0.125em;
  background: var(--font-color);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 1000ms infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}