.Login {
  display: grid;
  align-items: center;
  place-content: center;
  min-height: 90vh;
}

.Login input {
  border-radius: 4px;
  width: 100%;
  font-size: clamp(17px, 12vh, 19px);
  border: 0.1px solid;
  text-align: center;
}