header {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 2px solid currentColor;
}

header .logo {
  font-size: clamp(20px, 7vw, 30px);
  font-weight: 600;
  letter-spacing: 4px;
  cursor: pointer;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin: 0 0 0 24px;
}

header li:hover {
  cursor: pointer;
}